# Common IntelliJ Platform excludes

# Rider
**/.idea/
/Folder.DotSettings

*.suo
*.user
.vs/
[Bb]in/
[Oo]bj/
_UpgradeReport_Files/
[Pp]ackages/

Thumbs.db
Desktop.ini
.DS_Store

# already populated configuration
/configuration.ini
